@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: Roboto, Arial, Helvetica, sans-serif;  
}

body{
    background-image: linear-gradient(to bottom , #727D87 , #B6C8D9  );
    overflow-x: auto;

}
/* Banner */

header{
    text-align: center;
}

header > picture > img{
    top: 0px;
    width: 80%;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.363);
}

/* Cabeçalho */

nav{
    display: flex;
    justify-content: center;
    
}

nav.menu-top{
    background-color: #54799B;
    max-width: 40%;
    min-width: 350px;
    margin: 5px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.363);
}

nav.menu-top > a {
    color: black;    
    width: 100%;
    padding: 1px 1em 1px 1em;    
    font-size: 1.5em;
    font-style: bold;
    text-decoration: none; 
    display: inline-block;
    text-align: center;
    transition: background-color 0.5s , color 0.5s , box-shadow 0.4s; 
}

nav.menu-top > a:hover{
    background-color: #72A5D4;
    color: red;
    font-style: bold;
    border-radius: 3px;
    box-shadow: inset -1px -1px 1px 1px rgb(0 0 0 / 36%);
    transition: background-color 0.5s , color 0.5s , box-shadow 0.4s;
}

/*Conteudo*/

main{
    background-color: #54799B;
    margin: auto;
    width: 88%;
    text-align: center;
    padding: 0.2em;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.363);
    
}

section{
    margin: auto;
    border-radius: 3px;
    border-top: 1px solid black;
    background-color: white;
    width: 100%;
    padding: 3px 0px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.363);
    font-weight: bold;
}

aside{
    font-style: italic;
}

img.conteudo{
    border-radius: 3px;
    width: 80%;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.363);
}

/*Texto*/

h1{
    color: white;
}

/*Rodapé*/

footer{
    background-color: #4F5659;
    color: white ;    
    width: 88%; 
    border-radius: 3px;
    padding: 3px 0px;     
    margin: 3px auto;
    font-style: italic;
    font-size: 0.8em;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

footer > section{
    background-color: #4F5659;    
    width: 32%;
    height: fit-content;
    border-top: 0;
    border-radius: 0;        
    padding: 0px 5px;
    box-shadow: 0px 0px 0px 0px;
    border-right: 1px solid black;
    text-align: center;   
}

@media screen and (max-width: 400px) {
    footer {
        flex-direction: column;
    }

    footer > section { 
        width: 100%;
        padding: 0;
    }
  }

footer > section > ul{
    list-style: none;
    padding: 0;
}

footer > section > ul > li > a{
    color: white;
    text-decoration: none;
}

footer > section > ul > li > a:hover{
    color: blue;
    text-decoration: underline; 
}

footer > section > ul > li > a > img{
    width: 20px;
    height: 20px;
}

footer > section > h2{
    text-indent: 1em;
}

p.textorodape{
    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}